* {
    background-color: bisque;
    margin-left: 10px;
    padding: 1px;
    margin-right: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.img1 {
    display: block;
    margin-left: 1px;
    margin-right: 1px;
    width: 90%;
    height: 90%;

}

th {
    display:inline-flexbox;
    margin-left: 1px;
    margin-right: auto;
}

p,ul {
    font-size: 18px;
}

h1{
    display: flex;
    justify-content: center;
    align-self: center;
    color:midnightblue;
}

h2 {
    color:teal;
}