* {
    background-color: bisque;
    margin-left: 10px;
    padding: 1px;
    margin-right: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



.images  {
    display: flex;
    flex-direction: row;

}

@media (max-width: 800px) {
    .images {
      flex-direction: column;
    }
  }
  
  
.img1 {
padding: 1px;
}
.img2{ 
     border-radius: 30%;
     width: 300px;
     border-width: 10px;
     border-color: red;
}

.text-img {
    position: relative;
    bottom: 0;
    text-align: center;
    font-size: 20px;
    color: #630f0f; 
    padding: 2px; 
    margin-left: auto;
    margin-right: auto ;
    font-weight: bold;
}

.text-img:hover{


    font-weight: bolder;
    color: #5112aa;
}

th {
    display:inline-flexbox;
    margin-left: 1px;
    margin-right: auto;
}

p,ul {
    font-size: 18px;
}

h1{
    display: flex;
    justify-content: center;
    align-self: center;
    color:midnightblue;
}

h2 {
    color:teal;
}

.top{
   text-align: right;
}

.top:hover{
    font-weight: bolder;
    color: #5112aa;
}